.header {
    display: flex;
    
}


.header__left {
    height: 65px;
    display: flex;
    flex-direction: space-evenly;
}
#logo {
    height:65px;
    margin-right:50px;
}

.button {
    height:30px;
    
}
.header__search {
    margin-top:20px;
    display: flex;
    flex-direction:space-evenly;
    height:20px;
    align-items: center;

}


input {
    visibility: hidden;
}

