#header-container {
  display:flex;
  flex-direction: row;
  border-bottom: 2px solid grey;
  height: 100px;
  background-color: white;
}

#body-container {
  display:flex;
  flex-direction: row;
  height: 100%;
  background-color: whitesmoke;
  justify-content: center;
  position:relative;
  z-index:-2;
  overflow: scroll;
}
